:host{
    position:absolute;
  }
  
  .popup-container{
    color: black;
    background: white;
    box-shadow: 0px 0px 5px 0px #989393;
    padding: 5px 5px;
    border-radius: 5px;
    text-align: center;
  }